.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  user-select: none;

  .india {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .header-container {
    padding: 10px 20px;

    .india {
      font-size: 12px;
    }
  }
}
