.btn {
  padding: 10px 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 12px;
  border: 0;
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
}

.btn img {
  height: 16px;
}
