<a appEnlargeCursor appStretchable [appTextScramble]="8" routerLink="/"
  >back to terminal</a
>
<br />
<ul>
  <li appEnlargeCursor appStretchable>
    <span>01</span>&nbsp;&nbsp;&nbsp;
    <a [appTextScramble]="8">home</a>
  </li>
  <br />
  <li appEnlargeCursor appStretchable>
    <span>02</span>&nbsp;&nbsp;&nbsp;
    <a [appTextScramble]="8">about us</a>
  </li>
  <br />
  <li appEnlargeCursor appStretchable>
    <span>03</span>&nbsp;&nbsp;&nbsp;
    <a [appTextScramble]="8">contact us</a>
  </li>
  <br />
  <li appEnlargeCursor appStretchable>
    <span>04</span>&nbsp;&nbsp;&nbsp;
    <a [appTextScramble]="8">work</a>
  </li>
</ul>
