<div class="home-container">
  <app-header></app-header>

  <div class="intro-container">
    <div class="intro-self">
      Hi, My name is
      <b class="underline-effect" [appTextScramble]="8">Yash Thakur</b>, I'm
      software engineer & designer working in Mobile-app design, Logo-design and
      Web-<span [appTextTyping]="['design.', 'developement.']"></span
      ><span class="black-color">❙</span>
    </div>
    <div class="update-detail-container">
      <span class="scroll-down">Scroll down</span>
      <span class="scroll-down">Last updated: October 2023</span>
    </div>
  </div>
  <app-footer></app-footer>

  <app-navigation></app-navigation>
</div>
