.home-container {
  .intro-container {
    padding: 100px 50px;
    height: 65vh;
    /* border: 1px solid red; */

    .intro-self {
      max-width: 380px;
      line-height: 20px;
    }
  }
}

@media screen and (max-width: 460px) {
  .home-container {
    .intro-container {
      padding: 50px 20px;

      .intro-self {
        max-width: 350px;
      }
    }
  }
}
