.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 60px;
  padding: 10px;
  font-size: 20px;
  transition: all 0.3s ease-out;

  .first-half {
    opacity: 0;
    transition: opacity 2.5s;
  }

  .second-half {
    position: absolute;
    left: 0;
    transition: all 0.3s linear;
    background-color: var(--white-color);
  }
}

.logo-container:hover {
  .first-half {
    opacity: 1;
  }

  .second-half {
    left: 34px;
  }
}
