.logo-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 60px;
  padding: 10px;
  font-size: 20px;
  transition: all 0.3s ease-out;
  height: 20px;

  .first-half {
    display: none;
  }

  .second-half {
    position: absolute;
    left: 0;
    transition: all 0.3s linear;
  }
}

.logo-container:hover {
  .first-half {
    display: block;
  }
  .second-half {
    left: 34px;
  }
}

@media screen and (max-width: 460px) {
  .logo-container {
    font-size: 15px;
  }
  .logo-container:hover {
    .second-half {
      left: 28px;
    }
  }
}
