:root {
  /* --primary-color: #fe330a; */
  /* --secondary-color: #efeae3; */
  --black-color: #1b1c1e;
  --error-color: #f12727;
  --success-color: #07bf07;
  --warning-color: #ffab02;
  --white-color: #ffffff;
  --cyan-color: #00c7e2;
}
